body{

}

* {
  box-sizing: border-box;
  color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

main {
  background-color: #d0d2d3;
  display: flex;
}

/*HEADER PART*/

header {
  background-color: #404041;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: #DD1972;
  font-size: 54px;
  font-weight: 700;
}

.skinny-title {
  font-size: 54px;
  font-weight: 300;
  color: #DD1972;
}

h2 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  margin: auto;
  padding-bottom: 10px;
  width: 462px;
}

h2:before,
h2:after {
    border-top: 1px solid;
    content: '';
    flex: 1 0 20px;
    margin: 0 10px 0 0;
}

h2:after {
    margin: 0 0 0 10px;
}

/*MAIN*/


.game-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f7f7f7;
  border-right: 1px solid #6e6e6e;
}

.left-side{
  margin: 19px 19px;
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #d0d2d3;
}

.set-range {

}

/*.update-button */
button {
  font-weight: 700;
  border: none;
  background-color: #6E6E6E;
  padding: 5px;
  border-radius: 20px;
  color: #ffffff;
  width: 28%;
}

.update-button {
  width: 20%;
}

.name-and-guess {
  margin: 2px 19px;
  display: flex;
  flex-direction: column;
}

.name {
  padding: 10px 0;
  margin: 5px;
}

.name-input {
  width: 50%;
}

.num-range {
  font-size: 17px;
  text-decoration: underline;
  font-weight: bold;
}

.latest-score {
  
}

.v-line {
  display: flex;
  border: 1px solid gray;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

h4 {
  font-weight: 700;
}

.total-score {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

.number-guessed-1,
.number-guessed-2 {
  font-weight: 800;
  font-size: 68px;
  color: #DD1972;
}


/*RESULTS LEFT*/


.results-container {
  
  }

.results-of-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  margin: 20px 40px 0px 40px;
  width: 43%;
  padding: 10px;
  height: 100%;
  border: 1px solid #6e6e6e;
}

.challenger-1-results,
.challenger-2-results {
  font-size: 16px;
  font-weight: 700;
}

.vs-text {
  font-size: 14px;
  padding: 10px;
}

.winners-name {
  font-size: 28px;
  font-weight: 700;
  padding-top: 30px;
}

.winner-text {
  font-size: 28px;
  margin-bottom: 25px;
}

.bottom-shit {
  display: flex;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 6px;
}

.guesses-text {
}

.mins-text {
}

.number-of-guesses,
.number-of-mins {
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
}
