/*BODY OF PAGE*/
* {
  box-sizing: border-box;
  color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

main {
  background-color: #d0d2d3;
  display: flex;
}

/*HEADER*/
header {
  background-color: #404041;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: #DD1972;
  font-size: 54px;
  font-weight: 700;
}

.skinny-title {
  font-size: 54px;
  font-weight: 300;
  color: #DD1972;
}

h2 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  margin: auto;
  padding-bottom: 10px;
  width: 462px;
}

h2:before,
h2:after {
  border-top: 1px solid;
  content: '';
  flex: 1 0 20px;
  margin: 0 10px 0 0;
}

h2:after {
  margin: 0 0 0 10px;
}

/*MAIN*/
/*LEFT SIDE*/
.game-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f7f7f7;
  border-right: 1px solid #6e6e6e;
}

.left-side-container{
  margin: 19px 19px;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #d0d2d3;
}

label {
  display: block;
}

.range-containers {
  display:inline-block;
}

.min-range-container {
  margin: 5px 5% 0 0;
}

.max-range-container {
  margin: 0 5% 0 0;
}

input {
  width: 100%;
}

button {
  font-weight: 700;
  border: none;
  background-color: #6E6E6E;
  padding: 5px;
  border-radius: 20px;
  color: #ffffff;
  width: 150px;
  margin-top: 25px;
  margin-right: 4%;
}

.update-button {
  width: 100px;
  display: inline;
}

.reset-game,
.clear-game {
  background-color: #D0D2D3;
}

.name-and-guess-container {
  margin: 2px 19px;
  display: flex;
  flex-direction: column;
}

.form-two-container {
  display: inline-block;
  margin-right: 15%;
}

.name {
  padding: 10px 0;
  margin: 5px;
}

.name-input {
  width: 150%;
}

.displayed-num-range {
  font-size: 17px;
  text-decoration: underline;
  font-weight: bold;
}

.v-line {
  display: flex;
  border: 1px solid gray;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

h4 {
  font-weight: 700;
}

.displayed-scores {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

.number-guessed-1,
.number-guessed-2 {
  font-weight: 800;
  font-size: 68px;
  color: #DD1972;
}

/*RIGHT SIDE*/
.results-of-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  margin: 20px 40px 0px 40px;
  width: 43%;
  padding: 10px;
  height: 100%;
  border: 1px solid #6e6e6e;
}

.challenger-1-results,
.challenger-2-results {
  font-size: 16px;
  font-weight: 700;
}

.vs-text {
  font-size: 14px;
  padding: 10px;
}

.winners-name {
  font-size: 28px;
  font-weight: 700;
  padding-top: 30px;
}

.winner-text {
  font-size: 28px;
  margin-bottom: 25px;
}

.bottom-of-results-card {
  display: flex;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 6px;
}

.number-of-guesses,
.number-of-mins {
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px;
  }
  .skinny-title {
    font-size: 29px;
  }
  h2 {
    font-size: 12px;

  }
  .header-two {
    width: 50%;
  }
  h2:before {

  }
  h2:after {

  }
  .update-button {
    width: 100%;
  }
  button {
    width: 100%;
  }
  .game-left-side {
    width: 100%;
  }
  main {
    flex-direction: column;
  }
  .name-input {
    width: 100%;
  }
  .total-score {
    flex-direction: column;
  }
  .num-score-1 {
    padding-bottom: 10px;
  }
  h4 {
    padding-top: 10px;
  }
  .results-of-game {
    width: 90%;
    margin: 20px 11px 0px 15px;
  }
  .challenger-card-names {
    display: flex;
    flex-direction: column;
  }
}
