body{

}

* {
  box-sizing: border-box;
  color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

main {
  background-color: #d0d2d3;
  display: flex;
}

/*HEADER PART*/

header {
  background-color: #404041;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: #DD1972;
  font-size: 54px;
  font-weight: 700;
}

.skinny-title {
  font-size: 54px;
  font-weight: 300;
  color: #DD1972;
}

h2 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  margin: auto;
  padding-bottom: 10px;
  width: 462px;
}

.line {
  width: 96px;
  border: 1px solid #ffffff;
}

/*h2:before,
h2:after {
    border-top: 1px solid;
    content: '';
    flex: 1 0 20px;
    margin: 0 10px 0 0;
}

h2:after {
    margin: 0 0 0 10px;
}*/

/*MAIN*/

.game-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f7f7f7;
  border-right: 1px solid #6e6e6e;
}

.left-side{
  margin: 19px 19px;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #d0d2d3;
}


label {
  display: block;
  font-size: 20px;
}

.range-containers {
  display:inline-block;
}

.min-range-container {
  margin: 5px 5% 0 0;
}

.range {
  width: 205px;
  height: 37px;
}

.max-range-container {
  margin: 0 5% 0 0;
}

.name-box {
  width: 392px;
  height: 37px;
}

.guess-box {
  width: 185px;
  height: 37px;
}

.button{
  
  font-weight: 700;
  background-color: #6E6E6E;
  padding: 6px;
  border-radius: 20px;
  color: #ffffff;
  width: 184px;
  margin: 25px 4px 3px 23px;
  font-size: 19px;
}

.update-button {
  width: 123px;
  font-weight: 700;
  background-color: #6E6E6E;
  padding: 6px;
  border-radius: 20px;
  color: #ffffff;
  width: 151px;
  font-size: 19px;
}

.submit-guess {
  margin-left: 0px;
}

.reset-game,
.clear-game {
  background-color: #D0D2D3;
}

.name-and-guess {
  margin: 2px 19px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: inline-block;
  margin-right: 5%;
}

.form-container-guess {
  display: inline-block;
}

.name {
  padding: 10px 0;
  margin: 5px 0;
}

.name-input {
  width: 150%;
}

.num-range {
  font-size: 17px;
  text-decoration: underline;
  font-weight: bold;
}

.clear-game {
  margin-right: 0px; 
}

.v-line {
  display: flex;
  border: 1px solid gray;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

.num-score-1, .num-score-2 {
  font-size: 18px;
}

.total-score {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

.number-guessed-1,
.number-guessed-2 {
  font-weight: 800;
  font-size: 87px;
  color: #DD1972;
}

.results-container {
  
  }

.results-of-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  margin: 20px 40px 0px 40px;
  width: 43%;
  padding: 10px;
  height: 100%;
  border: 1px solid #6e6e6e;
}

.challenger-1-results,
.challenger-2-results {
  font-size: 16px;
  font-weight: 700;
}

.vs-text {
  font-size: 14px;
  padding: 10px;
}

.winners-name {
  font-size: 33px;
  font-weight: 700;
  padding-top: 30px;
}

.winner-text {
  font-size: 35px;
  margin-bottom: 21px;
}

.bottom-shit {
  display: flex;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 6px;
}

.guesses-text {
}

.mins-text {
}

.number-of-guesses,
.number-of-mins {
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
} 

.challenger-card-names {
  border-bottom: 1px solid #000;
  margin: 0px 20px 0px 20px;
  padding-bottom: 5px;
}


@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px;
  }
  .skinny-title {
    font-size: 29px;
  }
  h2 {
    font-size: 12px;

  }
  .header-two {
    width: 50%;
  }
  h2:before {

  }
  h2:after {

  }
  .name-box {
    width: 100%;
  }
  .range {
    width: 233px;
  }
  .update-button {
    width: 100%;
    margin-top: 16px;
  }
  button {
    width: 100%;
  }
  .game-left-side {
    width: 100%;
  }
  main {
    flex-direction: column;
  }
  .name-input {
    width: 100%;
  }
  .total-score {
    flex-direction: column;
  }
  .num-score-1 {
    padding-bottom: 10px;
  }
  h4 {
    padding-top: 10px;
  }

  .results-of-game {
    width: 90%;
    margin: 20px 11px 0px 15px;
  }

  .challenger-card-names {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    margin: 0px 20px 0px 20px;
    padding-bottom: 5px;
  }

}
